<div class="container-fluid ">
  <h5 class="text-primary font-weight-bold"> Join us and support the community by lending your tools.</h5>
  <ul class="text-black-50">
    <li >
      create an account. Give us some basic info about yourself, including tools you're ready to lend to other community
      members.
    </li>
    <li >
      other members may find your details if they're searching for tools you have for short time.
    </li>
  </ul>

  <h5 class="text-primary font-weight-bold">Search for tools other members are ready to lend.</h5>
  <ul class="text-black-50">
    <li >
      search by tool name. default search proximity is half a mile
    </li>
    <li >
      once you've searched members who have the tools you're in need, just ring them up!
    </li>
  </ul>
</div>
