<div class="container-fluid ">
  <h5 class="text-primary font-weight-bold"> Join us and support the community <...> </h5>
  <ul class="text-black-50">
    <li >
      create an account. Give us some basic info about yourself<...>
    </li>
    <li >
      other members may find your details if they're searching.<...>
    </li>
  </ul>

  <h5 class="text-primary font-weight-bold">Search more details.<...></h5>
  <ul class="text-black-50">
    <li >
      search by name. default search proximity is half a mile<...>
    </li>
    <li >
      once you've searched members ...<...>
    </li>
  </ul>
</div>
