<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="/aboutus" class="navbar-brand " style="color: azure">MenuHome</a>
    </div>
    <div class="navbar-text">
      <ul class="nav">
        <li class="nav-item">
          <a routerLink="/register" class="nav-link active" style="color: azure"> Registerr</a>
        </li>
        <li class="nav-item">
          <a routerLink="/search" class="nav-link" style="color: azure">Search  byl</a>
        </li>
        <li class="nav-item">
          <a routerLink="/tools" class="nav-link" style="color: azure" href="#">Tools</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: azure" href="#" >Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
